<template>
     <!-- <div class="container">
        <nav class="sidenav">
            <div class="card-content">
                <a href="">
                    <img id="logo" class="spectrum1" src="./assets/SquiddLogo.png" alt="">
                </a>
            </div>
            <div class="card-content">
                <img class="spectrum2" src="./assets/porfile.png" alt="">
            </div>
            <div class="col ml-6">
                <div class="textmen">
                    <a href="">
                        <h4 class="menubox">
                            <i class="fas fa-home "></i> Home
                        </h4>
                    </a>
                </div>
                <div class="textmen">
                    <a href="">
                        <h4>
                            <i class="fas fa-search"></i> Discover
                        </h4>
                    </a>
                </div>
                <div class="textmen">
                    <a href="">
                        <h4>
                            <i class="fas fa-bell"></i> Notification
                        </h4>
                    </a>
                </div>
                <div class="textmen">
                    <a href="">
                        <h4>
                            <i class="fas fa-user"></i> Subscription
                        </h4>
                    </a>
                </div>
                <div class="textmen">
                    <a href="">
                        <h5>
                            <i class="fas fa-sliders-h"></i> Setting
                        </h5>
                    </a>
                </div>
                <br>
                <br>
                <div>
                    <a href="#" class="btn btn-outline-secondary btn-icon-right">
                        <span>Sign out
                        </span>
                    </a>
                </div>
            </div>
            
        </nav> -->
        <router-view />
    <!-- </div> -->
</template>

<script>

export default {
  name: 'App',
  components: {
   
  },
  
}
</script>
<style scoped>
 .body {
            background-color: #efefef !important;
        }
        .sidenav {
            height: 100%;
            /* Full-height: remove this if you want "auto" height */
            width: 300px;
            /* Set the width of the sidebar */
            position: fixed;
            /* Fixed Sidebar (stay in place on scroll) */
            z-index: 1;
            /* Stay on top */
            top: 0;
            /* Stay at the top */
            left: 0;
            /* background-color: rgb(255, 255, 255); */
            background-color: rgb(255, 255, 255);
            color: cornflowerblue;

            border-right-style: solid;
            border-right-color: #c4c4c4;

            /* Black */
            overflow-x: hidden;
            /* Disable horizontal scroll */
            padding-top: 20px;
            text-align: center;
            padding-bottom: 20px;
        }

        div.card-content {
            padding: 0.5em;
            margin: 20px;
        }

        .spectrum1 {
            width: 80px;
            height: auto;
            margin-bottom: 25 px;
        }

        .spectrum2 {
            max-width: 90px;
            max-height: 90px;
            margin-top: 30px;
            margin-bottom: 25px;
        }

        div a,
        a:hover {
            text-decoration: none;
        }

        div a:hover {
            opacity: 0.8;
        }

        div.Subscribe {
            margin: center;
            max-width: 250px;
            margin-left: auto;
            margin-right: auto;
        }

        ul {
            font-size: 20px;
            color: whitesmoke;
            background: transparent;
        }

        .menu {
            color: whitesmoke;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
        }

        .textmen {
            padding: 10px;
            text-align: left;
            margin-left: 50px;
        }

        .textmen a {
            color: cornflowerblue;
        }

        .textmen:hover {
            transform: scale(1.05);
            opacity: 0.8;
        }

        .iconbox {
            margin-bottom: 5px;
            margin: left;
        }

        .icon-btn:hover {
            background: #4e22d0 no-repeat 50% 50%;
            box-shadow: 0 12px 15px -4px rgba(78, 34, 208, 0.3),
                0 12px 15px -4px rgba(12, 5, 62, 0.15);
        }

        .card-footer {
            border-width: 1.5px;
        }
</style>