<template>
  <NavBar></NavBar>
  <div class="container">
        <div class="searchbox">
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card testimonial-card mt-2 mb-3" >
                    <a href="">
                        <div class="card-up aqua-gradient"></div>
                        <div class="avatar mx-auto white">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg"
                                class="rounded-circle img-fluid" alt="woman avatar">
                        </div>
                        <h4 class="card-title font-weight-bold">Martha Smith</h4>
                            <br>
                            <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Eos,
                                adipisci</p>
                        
                            
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import NavBar from './Navbar.vue'
export default {
    name: 'VRProfile',
        components: {
            NavBar
        }
}
</script>

<style>
.body {
            background-color: #efefef !important;
            margin-left: 300px;
        }

        .container {
            margin-left: 300px;
            margin-top: 30px;
        }

        .card {
            box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
            background-color: #fff;
            width: 380px;
            margin-left: auto;
            margin-right: auto;
            
        }
        .card a{
            text-decoration: none;
        }
        .card:hover {
            opacity: 0.8;
        }

        .testimonial-card .avatar {
            width: 120px;
            margin-top: -60px;
            overflow: hidden;
            border: 5px solid #fff;
            border-radius: 50%;
        }

        .testimonial-card .card-up {
            height: 120px;
            overflow: hidden;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }

        .aqua-gradient {
            background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
        }

        .searchbox {
            box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
            margin: 30px;
            margin-left:100px ;
            width: auto;
            height: auto;
        }

        .searchbox span {
            background-color: cornflowerblue;
            color: cornsilk;
        }

        .searchbox span:hover {
            background-color: #006417;
            color: cornsilk;
        }

        .input-group{
            box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
            background-color: #006417;
            color: #fff;
        }
</style>