<template>
    <NavBar></NavBar>
    <div class="box">
        <p class="text-center">HOME</p>
        <div class="main2">
            <div class="row">
                <div class="col-1 "></div>
                <div class="col-2 ">
                    <img class="img-fluid rounded-circle" src="../assets/porfile.png" alt="" id="profilem">
                </div>
                <div class="col-1 ">
                    <i class="far fa-image fa-2x" id="insertimg"></i>
                </div>
                <div class="col-1 ">
                    <input class="form-control" id="inputurlboxm" type="text" placeholder="Imgage Url"
                        v-model="Input.imgurl" aria-label="default input example">
                </div>
                <div class="col">
                    <input class="form-control" id="inputprofileboxm" type="text" placeholder="Tell Something"
                        v-model="Input.text" aria-label="default input example">
                    <div class="submit-btn d-flex justify-content-md-start justify-content-center">
                        <input id="squiddbutton" type="button" class="btn" value="Squidd" @click="creatpost">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="sigle-blog" v-for="(Postobject , key) in Postobjects" :key='key'>
                    <div class="row">
                        <div class="col-4 ">
                            <img class="img-fluid rounded-circle" :src="Postobject.userdata.coverImg" alt=""
                                id="profilepostm">
                        </div>
                        <div class="col">
                            <p id="profilename">{{Postobject.userdata.name}}</p>
                            <p id="profiletext">{{Postobject.Text}}</p>
                            <img class="img-fluid " :src="Postobject.ImageURL" alt="" id="imgURLm">
                        </div>
                        <div class="row" id="createtime">
                            <a>{{Postobject.createdDate}}</a>
                        </div>

                        <div class="row" id="detailpanel">
                            <div class="col" id="comment">
                                <router-link
                                    :to="{ path: 'content', name: 'onepost', params: {postId: Postobject._id}}">
                                    <a href="" class="read-more-btn">Comment</a>
                                </router-link>
                            </div>
                            <div class="col" id="like">

                                <a href="" class="read-more-btn" @click="Favpost(Postobject._id,Userobjects.uid)"><img
                                        src="../assets/heart.png" alt="" id="icon">
                                    {{Postobject.favlist.count}}</a>
                            </div>
                            <div class="col" id="repost">

                                <a href="" class="read-more-btn" @click="REpost(Postobject._id,Userobjects.uid)"><img
                                        src="../assets/aircraft.png" alt="" id="icon">
                                    {{Postobject.repostlist.count}}</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import NavBar from './Navbar.vue'
    import axios from 'axios'

    export default {
        name: 'Home',
        components: {
            NavBar
        },
        data() {
            return {
                Postobject: null,
                Postobjects: {},
                Userobjects: {
                    coverImg: "https://i.ibb.co/C2YVg1J/porfile.png",
                    uid: "60a6b76d80a16f102c4f96d6",
                    name: "Jkkkyy"
                },
                Input: {
                    text: "",
                    imgurl: ""
                }
            }
        },
        created() {
            var url1 = 'https://squiddback.herokuapp.com/posts/list'

            axios.get(url1)
                .then((response) => {
                    console.log(response.data)
                    this.Postobjects = response.data
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        methods: {
            Favpost(PostID, UserID) {
                axios.put('https://squiddback.herokuapp.com/posts/fav/' + PostID + '/' + UserID)
                    .then((response) => {
                        console.log(response.data)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                window.location.reload()
            },
            REpost(PostID, UserID) {
                axios.put('https://squiddback.herokuapp.com/posts/re/' + PostID + '/' + UserID)
                    .then((response) => {
                        console.log(response.data)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                window.location.reload()
            },
            creatpost() {
                let newPost = {
                    userdata: this.Userobjects,
                    Text: this.Input.text,
                    ImageURL: this.Input.imgurl
                }
                axios.post('https://squiddback.herokuapp.com/posts/create', newPost)
                    .then((response) => {
                        console.log(response.data)
                        this.Postobject = response.data
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                axios.put("https://squiddback.herokuapp.com/user/addpost/" + this.Userobjects.uid + '/' + this.Postobject._id)
                    .then((response) => {
                        console.log(response.data)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                window.location.reload()
            }


        }



    }
</script>

<style>
    #detailpanel {
        margin-top: 5px;
        padding: 10px;
    }

    #icon {
        width: 27px;
        height: 27px;
    }

    .sigle-blog {
        border: 2px solid rgb(211, 211, 211);
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: #fff;
        margin-right: auto;
        margin-left: auto;
        min-width: 700px;
    }

    .sigle-blog img {
        max-width: 400px;
        width: 100%;
    }

    .blog-meta {
        font-size: 14px;
        margin-bottom: 2px;
    }

    .sigle-blog span {
        float: right;
        font-size: 14px;
        color: cornflowerblue;
        padding-right: 5px;
    }

    .blog-text {
        font-size: 14px;
        text-align: justify;
    }

    .sigle-blog h2 a {
        text-decoration: none;
    }

    .read-more-btn {
        background-image: linear-gradient(to right, #1c03b5, #5c8bef);
        margin-left: 0px;
        padding: 10px 16px 12px;
        border-radius: 10px;
        line-height: 20px;
        width: 100px;
        font-size: 16px;
        color: white;
        border: none !important;
        text-decoration: none;
        text-align: 10px;
    }

    .read-more-btn:hover {
        background-image: linear-gradient(to right, #ffb16d, #e9c8d0);
        padding: 10px 16px 12px;
        border-radius: 10px;
        line-height: 20px;
        width: 100px;
        font-size: 16px;
        color: white;
        border: none !important;
        text-decoration: none;
        text-align: 10px;
    }

    #createtime {
        margin-left: -130px;
        margin-top: 5px;
        font-weight: 200;
    }

    .nametitle {
        text-decoration: none;
        font-size: 20px;
    }

    .imgpost {
        min-width: 360px;
        max-width: 720px;
        height: auto;
    }

    #profilem {
        width: 70px;
        height: 70px;
        margin-top: 20px;
        margin-left: 0px;
    }

    #profilepostm {
        width: 70px;
        height: 70px;
        margin-top: 20px;
        margin-left: 0px;
    }

    #profilenamem {
        text-align: left;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.5;
        margin-top: 20px;
        margin-left: -70px;
    }

    #profiletextm {
        text-align: left;
        margin-left: -70px;
        margin-top: -5px;
        font-size: 18px;
        font-weight: 200;
        max-width: 530px;
    }

    #imgURLm {
        align-content: flex-start;
        margin-left: -400px;
        border-radius: 10px;
        max-width: 530px;
        border: 2px solid rgb(211, 211, 211);

    }

    #inputprofileboxm {
        margin-top: 20px;
        margin-left: -170px;
        height: 70px;
        border-radius: 20px;
        max-width: 530px;
        background-color: #f3f3f3;
        text-decoration: none;
        border-style: none;
    }

    #inputurlboxm {
        margin-top: 105px;
        background-color: #f3f3f3;
        text-decoration: none;
        border-style: none;
        height: 35px;
        border-radius: 10px;
        width: 300px;
    }

    #squiddbutton {
        background-image: linear-gradient(to right, #1c03b5, #5c8bef);
        margin-top: 10px;
        margin-left: 250px;
        padding: 10px 16px 12px;
        border-radius: 10px;
        line-height: 20px;
        width: 100px;
        font-size: 16px;
        color: white;
        border: none !important;
        text-decoration: none;
        text-align: 10px;


    }

    #squiddbutton:hover {
        background-image: linear-gradient(to right, #ffb16d, #e9c8d0);
        margin-top: 10px;
        margin-left: 250px;
        padding: 10px 16px 12px;
        border-radius: 10px;
        line-height: 20px;
        width: 100px;
        font-size: 16px;
        color: white;
        border: none !important;
        text-decoration: none;
        text-align: 10px;

    }

    #insertimg {
        margin-top: 105px;
        margin-left: 20px;

    }

    .box {
        font-family: 'Kanit', sans-serif;
        margin-left: 300px;
        margin-top: -30px;

    }

    .text-center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        font-size: 25px;
        font-weight: 500;
        margin-top: 20px;
        background-color: #fff;
        border: 2px solid rgb(211, 211, 211);
        min-width: 700px;
    }

    .main2 {
        margin-top: -20px;
        height: 170px;
        background-color: #fff;
        border: 2px solid rgb(211, 211, 211);
        min-width: 700px;
    }

    .container {
        width: 100%;
    }
</style>