<template>
  
    <div class="box">
        <div class="row">
            <div class="col">
                <div class="sigle-blog">
                    <div class="row">
                        <div class="col-4 ">
                            <img class="img-fluid rounded-circle" :src="Postobject.userdata.coverImg" alt=""
                                id="profilepost">
                        </div>
                        <div class="col">
                            <p id="profilename">{{Postobject.userdata.name}}</p>
                            <p id="profiletext">{{Postobject.Text}}</p>
                            <img class="img-fluid " :src="Postobject.ImageURL" alt="" id="imgURL">
                        </div>
                        <div class="row" id="createtime">
                            <a>{{Postobject.createdDate}}</a>
                        </div>

                        <div class="row" id="detailpanel">
                            <div class="col" id="comment">
                                <a href="" class="read-more-btn">Comment</a>
                            </div>
                            <div class="col" id="like">

                                <a href="" class="read-more-btn" @click="Favpost(Postobject._id,Userobjects.uid)"><img
                                        src="../assets/heart.png" alt="" id="icon">
                                    {{Postobject.favlist.count}}</a>
                            </div>
                            <div class="col" id="repost">

                                <a href="" class="read-more-btn" @click="REpost(Postobject._id,Userobjects.uid)"><img
                                        src="../assets/aircraft.png" alt="" id="icon">
                                    {{Postobject.repostlist.count}}</a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="main2">
                    <div class="row">
                        <div class="col-1 "></div>
                        <div class="col-2 ">
                            <img class="img-fluid rounded-circle" :src="Userobjects.coverImg" alt="" id="profile">
                        </div>
                        
                        <div class="col">
                            <input class="form-control" id="inputprofileboxa" type="text" placeholder="Tell Something"
                                aria-label="default input example" v-model="Comment">
                            <div class="submit-btn d-flex justify-content-md-start justify-content-center">
                                <input id="combutton" type="button" class="btn" value="Comment"  @click="addToAPI()">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main2"  v-for="(com , key) in Postobject.comment" :key='key'>
                    <div class="row">
                        <div class="col-1 "></div>
                        <div class="col-3 ">
                            <img class="img-fluid rounded-circle" :src="com.userdata.coverImg" alt="" id="profile">
                        </div>
                        <div class="col">
                            <p id="commenttext">{{com.text}}</p>
                        </div>
                        <div class="col-3">
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <NavBar></NavBar>
</template>

<script>
    import NavBar from './Navbar.vue'
    import axios from 'axios'

    export default {
        name: 'Home',
        components: {
            NavBar
        },
        data() {
            return {
                Postobject: {},
                Postcom: {},
                com: null,
                pid: "",
                Userobjects: {
                    coverImg: "https://i.ibb.co/C2YVg1J/porfile.png",
                    uid: "60a6b76d80a16f102c4f96d6",
                    name: "Jkkkyy"
                },
                Comment: ""
                
            }
        },
        created() {

            this.pid = this.$route.params.postId

            axios.get('https://squiddback.herokuapp.com/posts/' + this.pid)
                .then((response) => {
                    console.log(response.data)
                    this.Postobject = response.data
                    this.Postcom = Postobject.Comment
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        methods: {
            Favpost(PostID, UserID) {
                axios.put('https://squiddback.herokuapp.com/posts/fav/' + PostID + '/' + UserID)
                    .then((response) => {
                        console.log(response.data)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                window.location.reload()
            },
            REpost(PostID, UserID) {
                axios.put('https://squiddback.herokuapp.com/posts/re/' + PostID + '/' + UserID)
                    .then((response) => {
                        console.log(response.data)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                window.location.reload()
            },
            addToAPI() {
                let newComment = {
                    userdata: {
                    coverImg: "https://i.ibb.co/C2YVg1J/porfile.png",
                    uid: "60a6b76d80a16f102c4f96d6",
                    name: "Jkkkyy"
                },
                    text: this.Comment
                }
                axios.put('https://squiddback.herokuapp.com/posts/comment/'+ this.pid, newComment)
                    .then((response) => {
                        console.log(response.data)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                    window.location.reload()
            }
        }



    }
</script>

<style>
    #detailpanel {
        margin-top: 5px;
        padding: 10px;
    }

    #commenttext{
        text-align: left;
        margin-top: 30px;
    }

    #icon {
        width: 27px;
        height: 27px;
    }

    .sigle-blog {
        border: 2px solid rgb(211, 211, 211);
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: #fff;
        margin-right: auto;
        margin-left: auto;
        min-width: 700px;
    }

    .sigle-blog img {
        max-width: 400px;
        width: 100%;
    }

    .blog-meta {
        font-size: 14px;
        margin-bottom: 2px;
    }

    .sigle-blog span {
        float: right;
        font-size: 14px;
        color: cornflowerblue;
        padding-right: 5px;
    }

    .blog-text {
        font-size: 14px;
        text-align: justify;
    }

    .sigle-blog h2 a {
        text-decoration: none;
    }

    .read-more-btn {
        background-image: linear-gradient(to right, #1c03b5, #5c8bef);
        margin-left: 0px;
        padding: 10px 16px 12px;
        border-radius: 10px;
        line-height: 20px;
        width: 100px;
        font-size: 16px;
        color: white;
        border: none !important;
        text-decoration: none;
        text-align: 10px;
    }

    .read-more-btn:hover {
        background-image: linear-gradient(to right, #ffb16d, #e9c8d0);
        padding: 10px 16px 12px;
        border-radius: 10px;
        line-height: 20px;
        width: 100px;
        font-size: 16px;
        color: white;
        border: none !important;
        text-decoration: none;
        text-align: 10px;
    }

    #createtime {
        margin-left: -130px;
        margin-top: 5px;
        font-weight: 200;
    }

    .nametitle {
        text-decoration: none;
        font-size: 20px;
    }

    .imgpost {
        min-width: 360px;
        max-width: 720px;
        height: auto;
    }

    #profile {
        width: 70px;
        height: 70px;
        margin-top: 20px;
        margin-left: 0px;
    }

    #profilepost {
        width: 70px;
        height: 70px;
        margin-top: 20px;
        margin-left: 0px;
    }

    #profilename {
        text-align: left;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.5;
        margin-top: 20px;
        margin-left: -70px;
    }

    #profiletext {
        text-align: left;
        margin-left: -70px;
        margin-top: -5px;
        font-size: 18px;
        font-weight: 200;
        max-width: 530px;
    }

    #imgURL {
        align-content: flex-start;
        margin-left: -260px;
        border-radius: 10px;
        max-width: 530px;
        border: 2px solid rgb(211, 211, 211);

    }

    #inputprofileboxa {
        margin-top: 20px;
        margin-left: 0px;
        height: 70px;
        border-radius: 20px;
        max-width: 530px;
        background-color: #f3f3f3;
        text-decoration: none;
        border-style: none;
    }

    #inputurlbox {
        margin-top: 105px;
        background-color: #f3f3f3;
        text-decoration: none;
        border-style: none;
        height: 35px;
        border-radius: 10px;
        width: 300px;
    }

    #combutton {
        background-image: linear-gradient(to right, #1c03b5, #5c8bef);
        margin-top: 10px;
        margin-left: 400px;
        padding: 10px 16px 12px;
        border-radius: 10px;
        line-height: 20px;
        width: 100px;
        font-size: 16px;
        color: white;
        border: none !important;
        text-decoration: none;
        text-align: 10px;


    }

    #combutton:hover {
        background-image: linear-gradient(to right, #ffb16d, #e9c8d0);
        margin-top: 10px;
        margin-left: 400px;
        padding: 10px 16px 12px;
        border-radius: 10px;
        line-height: 20px;
        width: 100px;
        font-size: 16px;
        color: white;
        border: none !important;
        text-decoration: none;
        text-align: 10px;

    }

    #insertimg {
        margin-top: 105px;
        margin-left: 20px;

    }

    .box {
        font-family: 'Kanit', sans-serif;
        margin-left: 300px;
        margin-top: -30px;

    }

    .text-center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        font-size: 25px;
        font-weight: 500;
        background-color: #fff;
        border: 2px solid rgb(211, 211, 211);
        min-width: 700px;
    }

    .main2 {
        margin-top: -20px;
        height: 170px;
        background-color: #fff;
        border: 2px solid rgb(211, 211, 211);
        min-width: 700px;
    }

    .container {
        width: 100%;
    }
</style>