<template>
  <NavBar></NavBar>
  <div class="row-fluid" id="box">
        <div class="co-2 justify-content-center">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3"><img src="../assets/porfile.png" alt="..." width="120" class="img-fluid rounded-circle">
                            <div class="media-body mb-5 text-white">
                                <h4 class="mt-2 mb-3">Mark Williams</h4>
                                <p class="medium mb-4"> <i class="fas fa-quote-left"></i> Details ...... <i class="fas fa-quote-right"></i></p>
                            </div>
                            <a href="#" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h4 class="text-break mb-0 d-block" id="number"></h4><small class="text-muted">215 <i
                                    class="fas fa-image mr-1"></i> Photos</small>
                        </li>
                        <li class="list-inline-item">
                            <h4 class="text-break mb-0 d-block"></h4><small class="text-muted">745 <i
                                    class="fas fa-user mr-1"></i> Followers</small>
                        </li>
                    </ul>
                </div>
                <div class="py-4 px-4">
                    <div class="row">
                        <div class="col-lg-6 mb-2 pr-lg-1"><img
                                src="https://images.unsplash.com/photo-1469594292607-7bd90f8d3ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                alt="" class="img-fluid rounded shadow-sm"></div>
                        <div class="col-lg-6 mb-2 pl-lg-1"><img
                                src="https://images.unsplash.com/photo-1493571716545-b559a19edd14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                alt="" class="img-fluid rounded shadow-sm"></div>
                        <div class="col-lg-6 pr-lg-1 mb-2"><img
                                src="https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                                alt="" class="img-fluid rounded shadow-sm"></div>
                        <div class="col-lg-6 pl-lg-1"><img
                                src="https://images.unsplash.com/photo-1475724017904-b712052c192a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                alt="" class="img-fluid rounded shadow-sm"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
</template>

<script>
import NavBar from './Navbar.vue'
export default {
    name: 'Profile',
        components: {
            NavBar
        }
}
</script>

<style>
.profile-head {
            transform: translateY(5rem)
        }

        .cover {
            background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
            background-size: cover;
            background-repeat: no-repeat
        }

        body {
            background: #efefef;
            min-height: 100vh
        }

        #box {
            margin-left: 300px;
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
        }

        #number{
            font-size: 20px;
            padding: 5px;
        }
</style>