<template>
    <section class="container-fluid d-flex align-items-center main-wrapper" id="boxall">
        <div class="container">
            <div class="row d-flex align-items-center rounded-pill bg-white shadow">
                <div class="col-md-6 p-0 rounded-pill" id="logobox">
                    <img src="../assets/SquiddLogo.png" alt="SquiddLogo" class="logo">
                </div>
                <div class="col-md-6 p-0">
                    <div class="row">
                        <div class="col-md-12 mb-lg-4 mb-3 px-mb-5">
                            <h1 class="text-md-start ">Sign Up</h1>
                        </div>
                        <form class="px-md-5 px-2">
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control rounded-pill" id="floatingInput"
                                        placeholder="Name"  v-model="formData.name">
                                    <label for="floatingInput">Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control rounded-pill" id="floatingInput"
                                        placeholder="Email" v-model="formData.email" >
                                    <label for="floatingInput">Email</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control rounded-pill" id="floatingInput"
                                        placeholder="Password" v-model="formData.password">
                                    <label for="floatingInput">Password</label>
                                </div>
                                <div class="form-check mb-4">
                                    <input type="checkbox" class="form-check-input" id="flexCheckDefault" name=""> I
                                    agree to the Privacy Policy
                                </div>
                                <div class="submit-btn d-flex justify-content-md-start justify-content-center">
                                    <input id="but" type="button" class="btn" value="Sign Up"  @click="signUp">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import firebase from 'firebase'
import axios from 'axios'
export default {
    data() {
        return {
            formData: {
                name: "",
                email: '',
                password: ''
            },
        }
    },
    methods: {

        signUp() {

            firebase.auth().createUserWithEmailAndPassword(this.formData.email, this.formData.password)
                .then(user => {
                    axios.post('https://squiddback.herokuapp.com/user/create', this.formData)
                    .then((response) => {
                        console.log(response.data)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                    this.$router.replace('/home')
                })
                .catch(e =>{
                    alert(e.message)
                })
        }
    },
}
</script>

<style>
    .body {
        background-color: #efefef !important;
    }

    .logo {
        width: 60%;
        height: 60%;
        margin-top: 150px;
        margin-right: 150px;
        margin-left: 90px;
        margin-bottom: 150px;
    }

    #logobox {
        padding: auto;
        text-align: center;
        background-image: linear-gradient(to bottom, #ffb16d, #e9c8d0, #89aeff);

    }

    #but {
        background-image: linear-gradient(to right, #1c03b5, #5c8bef);
        padding: 10px 16px 12px;
        border-radius: 20px;
        line-height: 30px;
        font-size: 18px;
        color: white;
        border: none !important;
        text-decoration: none;
        text-align: 10px;
        margin-left: -30px;
    }

    #but:hover {
        background-image: linear-gradient(to right, #ffb16d, #e9c8d0);
        padding: 10px 16px 12px;
        border-radius: 20px;
        line-height: 30px;
        font-size: 18px;
        color: white;
        border: none !important;
        text-decoration: none;
        margin-left: -30px;
    }

    #boxall {
        height: 80vh;
    }
</style>