<template>

    <section class="container-fluid d-flex align-items-center main-wrapper" id="boxall">
        <div class="container">
            <div class="row d-flex align-items-center rounded-pill bg-white shadow">
                <div class="col-md-6 p-0 rounded-pill" id="logobox">
                    <img src="../assets/SquiddLogo.png" alt="SquiddLogo" class="logo"> 
                </div>
                <div class="col-md-6">
                    <div class="row" id="signinbox">
                        <div class="col-md-12 mb-lg-4 mb-3 px-mb-5">
                            <h1 class="text-md-start ">Sign In</h1>
                            <p class="text px-4">Don't have an account? 
                                <router-link :to="{ path: 'signup', name: 'Signup'}">
                                <a href="#" class="justify-content-end">Create one</a>
                                </router-link>
                                </p>
                        </div>
                        <form class="px-md-5 px-2">
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <input type="email" v-model="formData.email" class="form-control rounded-pill" id="floatingInput" placeholder="Email">
                                    <label for="floatingInput">Email</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" v-model="formData.password" class="form-control rounded-pill" id="floatingInput" placeholder="Password">
                                    <label for="floatingInput">Password</label>
                                </div>
                                <div class="submit-btn d-flex justify-content-md-start justify-content-center">
                                    <input id="butu" type="button" class="btn" value="Sign In"  @click="signIn"> 
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


</template>

<script>
import firebase from 'firebase'
export default {
    name: 'SignIn',
    data() {
        return {
            formData: {
                email: '',
                password: ''
            },
            errorMessgae: '',
            succeessMessage: ''
        }
    },
    methods: {
        signIn() {
            firebase.auth().signInWithEmailAndPassword(this.formData.email, this.formData.password)
                .then( user =>{
                    this.$router.replace('/home')
                    this.succeessMessage = "Success" 
                })
                .catch(error =>{
                    alert(error.message)
                    this.errorMessgae = error.message
                })
        }
    },
}
</script>

<style>
    body {
        background-color: #efefef !important;
    }

    .logo {
        width: 60%;
        height: 60%;
        margin-top: 150px;
        margin-right: 150px;
        margin-left: 90px;
        margin-bottom: 150px;
    }

    #logobox {
        padding: auto;
        text-align: center;
        background-image: linear-gradient(to bottom, #ffb16d, #e9c8d0, #89aeff);

    }

    #butu {
        background-image: linear-gradient(to right, #1c03b5, #5c8bef);
        padding: 10px 16px 12px;
        border-radius: 20px;
        line-height: 30px;
        font-size: 18px;
        color: white;
        border: none !important;
        text-decoration: none;
        text-align: 10px;
        margin-left: -30px;
    }

    #but:hover {
        background-image: linear-gradient(to right, #ffb16d, #e9c8d0);
        padding: 10px 16px 12px;
        border-radius: 20px;
        line-height: 30px;
        font-size: 18px;
        color: white;
        border: none !important;
        text-decoration: none;
        margin-left: -30px;
    }

    #boxall {
        height: 100vh;
    }
    #signinbox {
        padding-left: 20px;
    }
</style>