<template>
   <NavBar></NavBar>
   <div class="row-fluid" id="box">
        <div class="col justify-content-center">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3"><img src="../assets/porfile.png" alt="..." width="120" class="img-fluid rounded-circle">
                            <div class="media-body mb-5 text-white">
                                <h5 class="mt-2 mb-1">{{Userobject.name}}</h5>
                                <p class="medium mb-4"> <i class="fas fa-quote-left"></i>  <i class="fas fa-quote-right"></i></p>
                                <br/>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h3 class="text-break mb-0 d-block" id="number"></h3><small class="text-muted">215 <i
                                    class="fas fa-image mr-1"></i> Photos</small>
                        </li>
                        <li class="list-inline-item">
                            <h3 class="text-break mb-0 d-block"></h3><small class="text-muted">745 <i
                                    class="fas fa-user mr-1"></i> Followers</small>
                        </li>
                        <a href="#" class="btn justify-content-end" id="subscript">Subscript</a>
                    </ul>
                </div>
                <div class="py-4 px-4">
                    <div class="row">
                        <div class="col-lg-6 mb-2 pr-lg-1"><img
                                src="https://images.unsplash.com/photo-1469594292607-7bd90f8d3ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                alt="" class="img-fluid rounded shadow-sm"></div>
                        <div class="col-lg-6 mb-2 pl-lg-1"><img
                                src="https://images.unsplash.com/photo-1493571716545-b559a19edd14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                alt="" class="img-fluid rounded shadow-sm"></div>
                        <div class="col-lg-6 pr-lg-1 mb-2"><img
                                src="https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                                alt="" class="img-fluid rounded shadow-sm"></div>
                        <div class="col-lg-6 pl-lg-1"><img
                                src="https://images.unsplash.com/photo-1475724017904-b712052c192a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                alt="" class="img-fluid rounded shadow-sm"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import NavBar from './Navbar.vue'
import axios from 'axios'
export default {
    name: 'VRProfile',
        components: {
            NavBar
        },
        data() {
            return {        
                uid: "",
                Userobject: {},
                
            }
        },
        created() {

            this.uid = this.$route.params.userId

            axios.get('https://squiddback.herokuapp.com/user/' + this.uid)
                .then((response) => {
                    console.log(response.data)
                    this. Userobject = response.data

                })
                .catch((error) => {
                    console.log(error)
                })
        },
}
</script>

<style>
        .profile-head {
            transform: translateY(5rem)
        }

        .cover {
            background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
            background-size: cover;
            background-repeat: no-repeat;
            padding: 50px;
        }

        body {
            background: #efefef;
            min-height: 100vh
        }

        #box {
            margin-left: 300px;
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
        }
        #subscript{
            background-image: linear-gradient(to right, #1c03b5, #5c8bef);
            padding: 5px 12px 8px;
            border-radius: 20px;
            line-height: 30px;
            font-size: 18px;
            color: white;
            border: none !important;
            text-decoration: none;
            margin-right: 2px;
        }
        #subscript:hover{
            background-image: linear-gradient(to right, #ffb16d, #e9c8d0);
            padding: 5px 12px 8px;
            border-radius: 20px;
            line-height: 30px;
            font-size: 18px;
            color: white;
            border: none !important;
            text-decoration: none;
            margin-right: 2px;
        }

</style>